:root {
    --primary-color: #ecf2f3;
    --primary-secondary-color: #4a738f;
    --secondary-color: #407D6C;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

head {
    background: var(--primary-color);
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3eaec;
    height: 100vh;
} 

main {
    display: flex;
    height: 80vh;
    width: 360px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

/* Calculator Background */
.calculator__container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding-top: 30px;
    height: 80vh;
    width: 100%;
    border-radius: 25px;
}

/* Day / Night container */
.dayNight__container {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 50px;
    background: var(--primary-secondary-color);
    border-radius: 15px;
    box-shadow: var(--shadow);
    margin-bottom: 30px;
}

/* Day / Night container */
.day__container, .night__container {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.day__container {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.night__container {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

/* Day / Night icon */
.day__img, .moon__img {
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: 0.3s;
}

/* Day / Night container when hovered */
.day__container:hover, .night__container:hover {
    background-color: var(--primary-color);
}

/* Day / Night icon when hovered */
.day__img:hover, .moon__img:hover {
    color: var(--primary-secondary-color);
}

/* Day / Night icon when clicked */
.day__img:active, .moon__img:active {
    color: var(--secondary-color);
}

/* Active selector */
.dayornight__active {
    background-color: var();
}


/* Display Area */
.display__area {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.expression__line, .input__line {
    text-align: right;
    color: var(--secondary-color);
    font-weight: 700;
}

.expression__line {
    font-size: 24px;
    height: 40px;
}

.input__line {
    font-size: 50px;
    height: 80px;
}



/* Keypads */
.keypad__background { 
    position: relative;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 65vh;
    background-color: var(--primary-secondary-color);
    border-radius: 25px;
}

.keypad__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    margin: 45px 35px 20px 35px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    width: 60px;
    height: 60px;
    box-shadow: var(--shadow);
    border-radius: 15px;
    background: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}

.num__key {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.dot {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.key:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.num__key:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.dot:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.bar__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    display: block;
    width: 135px;
    height: 4px;
    background-color: var(--secondary-color);
    box-shadow: var(--shadow);
}
